# Project language
language: php

# Allows use container-based infrastructure
sudo: false
#sudo: required
#dist: trusty

# Start mysql service
services:
  - mysql
  - elasticsearch
  - imagick  

# Cache composer packages so "composer install" is faster
cache:
    yarn: true
    directories:
        - $HOME/.composer/cache/files
        - $HOME/.cache/pip

# Matrix to test in every php version
#matrix:
  # Fast finish allows to set the build as "finished" even if the "allow_failures" matrix elements are not finished yet.
#  fast_finish: true
#  include:
#    - php: 5.5
#    - php: 5.6
#    - php: 7.0
#    - php: 7.1
#    - php: 7.2
#    - php: hhvm
#  allow_failures:
#    - php: hhvm

# Versions of PHP to test against
php:
#    - "5.6"
#    - "7.0"
    - "7.1"
#    - "7.2"
    
addons:
  apt:
    sources:
      - mysql-5.7-trusty
    packages:
      - mysql-server
      
matrix:
    include:
        # Akeneo V2.0 Branch       
        - env: AKENEO_VERSION="2.0"
        # Akeneo V2.1 Branch       
        - env: AKENEO_VERSION="2.1"
#        # Akeneo V2.2 Branch       
#        - env: AKENEO_VERSION="2.2"
    
before_install:
    
# Update composer
  - composer self-update
  
# Install Yarn
  - yarn 
  
# Configure PHP  
  - phpenv config-rm xdebug.ini
  - phpenv config-add build/x_memory.ini
#  - phpenv config-add build/x_errors.ini
  - php -ini | grep memory_limit  
  - if [[ "$(php -v | grep 'PHP 5')" ]]; then echo yes | pecl install apcu-4.0.8; fi
  - if [[ "$(php -v | grep 'PHP 7')" ]]; then echo yes | pecl install apcu; fi
  - if [[ "$(php -v | grep 'PHP 7')" ]]; then echo yes | pecl install imagick; fi

# Create database, schema and fixtures
  - mysql -e 'CREATE DATABASE IF NOT EXISTS akeneo;'
  
# Install composer dependencies,
install:   
    - echo "Configuring Akeneo"
    - cp build/parameters.yml.dist app/config/parameters.yml

    - echo "Install Akeneo & Splash Bundles"
    - composer require akeneo/pim-community-dev $AKENEO_VERSION --prefer-dist --no-suggest  

    - echo "Configuring Akeneo"
    - cp    vendor/akeneo/pim-community-dev/app/config/routing.yml app/config/routing.yml
    - cp    vendor/akeneo/pim-community-dev/app/PimRequirements.php app/PimRequirements.php
    - cat   build/routing_splash.yml   >> app/config/routing.yml
    - echo  "" > vendor/akeneo/pim-community-dev/src/Pim/Bundle/InstallerBundle/Resources/fixtures/icecat_demo_dev/products.csv
    
    - echo "Install Akeneo"
    - php bin/console pim:installer:assets  --symlink --clean --env=test --no-interaction --no-debug
    - php bin/console pim:install --force   --symlink --clean --env=test --no-interaction --no-debug
    - php bin/console debug:config splash --env=test --no-interaction --no-debug

    - echo "Start Web Srever"
    - php bin/console server:start --env=test

# Run script
script:
  - phpunit
#  - phpunit

# After a build, send email notification with the build results
notifications:
  email:         
    on_success: never # default: change
    on_failure: never # default: always